Applications/SCHNAPS-Learning/PierresPrecieuses/XSD/BaseTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gui="graphical_user_interface_info" xmlns:pmt="primitives_info">

	<xsd:annotation>
		<xsd:documentation>
			W3C XML Schema for SCHNAPS Simulator files by Audrey Durand, March 2010.
			This file only contains the base types and abstract tags, as defined by Marc-Andre Gardner, March 2010.
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:import namespace="graphical_user_interface_info" schemaLocation="GUI.xsd"/>
	<xsd:import namespace="primitives_info" schemaLocation="PMT.xsd"/>

	
	<!-- ///////////////////////////////////////////////////////////////////////// -->
					<!-- TYPES DEFINITION -->
	<!-- ///////////////////////////////////////////////////////////////////////// -->
	
	
	<xsd:complexType name="_unaryOpComplexType">
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:choice minOccurs="1" maxOccurs="1"> <!-- First argument -->
					<xsd:annotation>
						<xsd:appinfo>
							<pmt:childType definedBy="staticType">Number</pmt:childType>
							<pmt:childBranchTag lang="en">Operator argument</pmt:childBranchTag>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:element ref="_arithmeticOp"/>
					<xsd:element ref="_conditionOp"/>
					<xsd:element ref="_staticTk"/>
					<xsd:element ref="_callTk"/>
				</xsd:choice>
			</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="_binaryOpComplexType">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:choice minOccurs="1" maxOccurs="1"> <!-- First argument -->
						<xsd:annotation>
							<xsd:appinfo>
								<pmt:childType definedBy="staticType">Number</pmt:childType>
								<pmt:childBranchTag lang="en">First argument</pmt:childBranchTag>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:element ref="_arithmeticOp"/>
						<xsd:element ref="_conditionOp"/>
						<xsd:element ref="_staticTk"/>
						<xsd:element ref="_callTk"/>
					</xsd:choice>
					<xsd:choice minOccurs="1" maxOccurs="1"> <!-- Second argument -->
						<xsd:annotation>
							<xsd:appinfo>
								<pmt:childType definedBy="staticType">Number</pmt:childType>
								<pmt:childBranchTag lang="en">Second argument</pmt:childBranchTag>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:element ref="_arithmeticOp"/>
						<xsd:element ref="_conditionOp"/>
						<xsd:element ref="_staticTk"/>
						<xsd:element ref="_callTk"/>
					</xsd:choice>
				</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="_logicalOpComplexType">
				<xsd:sequence minOccurs="2" maxOccurs="unbounded">
					<xsd:choice> 
						<xsd:annotation>
							<xsd:appinfo>
								<pmt:childType definedBy="staticType">Bool</pmt:childType>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:element ref="_booleanOp"/>
						<xsd:element ref="_conditionOp"/>
						<xsd:element ref="_staticTk"/>
						<xsd:element ref="_callTk"/>
					</xsd:choice>
				</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="_comparisonOpComplexType">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:choice minOccurs="1" maxOccurs="1"> <!-- First argument -->
						<xsd:annotation>
							<xsd:appinfo>
								<pmt:childType definedBy="staticType">Atom</pmt:childType>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:element ref="_arithmeticOp"/>
						<xsd:element ref="_conditionOp"/>
						<xsd:element ref="_staticTk"/>
						<xsd:element ref="_callTk"/>
					</xsd:choice>
					<xsd:choice minOccurs="1" maxOccurs="1"> <!-- Second argument -->
						<xsd:annotation>
							<xsd:appinfo>
								<pmt:childType definedBy="argument">1</pmt:childType>
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:element ref="_arithmeticOp"/>
						<xsd:element ref="_conditionOp"/>
						<xsd:element ref="_staticTk"/>
						<xsd:element ref="_callTk"/>
					</xsd:choice>
				</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="_staticTkComplexType"/>
	
	<xsd:complexType name="_dynamicTkComplexType"/>
	
	<xsd:complexType name="_genericTypeComplexType"/>
	
	<xsd:complexType name="_vectorTypeComplexType">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element ref="_genericType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="_atomTypeComplexType">
		<xsd:attribute name="value" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="_alphaTypeComplexType">
		<xsd:complexContent>
			<xsd:restriction base="_atomTypeComplexType">
				<xsd:attribute name="value" type="xsd:string" use="required"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="_boolTypeComplexType">
		<xsd:complexContent>
			<xsd:restriction base="_atomTypeComplexType">
				<xsd:attribute name="value" type="xsd:boolean" use="required"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="_integerNumberTypeComplexType">
		<xsd:complexContent>
			<xsd:restriction base="_atomTypeComplexType">
				<xsd:attribute name="value" type="xsd:integer" use="required"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="_posIntegerNumberTypeComplexType">
		<xsd:complexContent>
			<xsd:restriction base="_atomTypeComplexType">
				<xsd:attribute name="value" type="xsd:unsignedInt" use="required"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="_longNumberTypeComplexType">
		<xsd:complexContent>
			<xsd:restriction base="_atomTypeComplexType">
				<xsd:attribute name="value" type="xsd:long" use="required"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="_posLongNumberTypeComplexType">
		<xsd:complexContent>
			<xsd:restriction base="_atomTypeComplexType">
				<xsd:attribute name="value" type="xsd:unsignedLong" use="required"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="_floatNumberTypeComplexType">
		<xsd:complexContent>
			<xsd:restriction base="_atomTypeComplexType">
				<xsd:attribute name="value" type="xsd:float" use="required"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="_doubleNumberTypeComplexType">
		<xsd:complexContent>
			<xsd:restriction base="_atomTypeComplexType">
				<xsd:attribute name="value" type="xsd:double" use="required"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- ///////////////////////////////////////////////////////////////////////// -->
					<!-- ABSTRACT ELEMENTS DEFINITION -->
	<!-- ///////////////////////////////////////////////////////////////////////// -->
	<xsd:element name="_component" abstract="true"/>	

	<xsd:element name="_primitive" abstract="true">
		<xsd:annotation>
			<xsd:appinfo>
			<pmt:eventHandler>
				<pmt:event eventName="MissingAttribute" gravity="Error" forceCorrection="false" addComment="false" warn="true">
				Missing attribute named <pmt:eventArg argIndex="1"/>
				</pmt:event>
				<pmt:event eventName="BadAttribute" gravity="Error" forceCorrection="false" addComment="false" warn="true">
				Bad attribute : unexpected attribute named <pmt:eventArg argIndex="1"/> with value <pmt:eventArg argIndex="2"/>
				</pmt:event>
				<pmt:event eventName="BadAttributeValue" gravity="Error" forceCorrection="false" addComment="false" warn="true">
				Bad attribute value for attribute named <pmt:eventArg argIndex="3"/> : expecting <pmt:eventArg argIndex="1"/>, but got <pmt:eventArg argIndex="2"/>
				</pmt:event>
				<pmt:event eventName="BadAttributeType" gravity="Error" forceCorrection="false" addComment="false" warn="true">
				Bad attribute type <pmt:eventArg argIndex="2"/> for attribute named <pmt:eventArg argIndex="1"/> : Either xsd file is corrupted or PrimitiveModel module has to be updated
				</pmt:event>
				<pmt:event eventName="EmptyAttributeValue" gravity="Warning" forceCorrection="false" addComment="false" warn="true">
				Attribute named <pmt:eventArg argIndex="1"/> has an empty value
				</pmt:event>
				<pmt:event eventName="BadVariableType" gravity="Error" forceCorrection="false" addComment="false" warn="true">
				Wrong variable type for variable <pmt:eventArg argIndex="3"/> specified in attribute named <pmt:eventArg argIndex="4"/> : expecting <pmt:eventArg argIndex="1"/>, but got <pmt:eventArg argIndex="2"/>
				</pmt:event>
				<pmt:event eventName="BadBranchTag" gravity="Error" forceCorrection="false" addComment="false" warn="true">
				Bad branch tag value for child <pmt:eventArg argIndex="1"/> at position <pmt:eventArg argIndex="2"/> : <pmt:eventArg argIndex="3"/> is not a number
				</pmt:event>
				<pmt:event eventName="BadBranchSum" gravity="Error" forceCorrection="false" addComment="false" warn="true">
				Branches weights must sum to <pmt:eventArg argIndex="1"/>. Current sum is <pmt:eventArg argIndex="2"/>
				</pmt:event>
				<pmt:event eventName="MissingChild" gravity="Error" forceCorrection="false" addComment="false" warn="true">
				Missing child at position <pmt:eventArg argIndex="1"/> (default child at this position is <pmt:eventArg argIndex="2"/>)
				</pmt:event>
				<pmt:event eventName="BadChildReturnValue" gravity="Error" forceCorrection="false" addComment="false" warn="true">
				Bad return value for child at position <pmt:eventArg argIndex="1"/> : expecting <pmt:eventArg argIndex="2"/>, but got <pmt:eventArg argIndex="3"/>
				</pmt:event>
				<pmt:event eventName="BadChild" gravity="Warning" forceCorrection="false" addComment="false" warn="true">
				Child <pmt:eventArg argIndex="2"/> at position <pmt:eventArg argIndex="1"/> is not defined to be a valid child for primitive <pmt:eventArg argIndex="3"/>: keeping the child is at your own risk.
				</pmt:event>
				<pmt:event eventName="BadChildPosition" gravity="Error" forceCorrection="false" addComment="false" warn="true">
				Child <pmt:eventArg argIndex="2"/> at position <pmt:eventArg argIndex="4"/> is out of bounds for primitive <pmt:eventArg argIndex="1"/>: this primitive should have at most <pmt:eventArg argIndex="3"/> child/children.
				</pmt:event>
				<pmt:event eventName="EnvVarUsed" gravity="Warning" forceCorrection="false" addComment="true" warn="true">
				If this process isn't executed on the environement, primitive <pmt:eventArg argIndex="1"/>  used with environement variable named <pmt:eventArg argIndex="2"/> will cause an error at runtime.
				</pmt:event>
				<pmt:event eventName="UnknownPrimitive" gravity="Warning" forceCorrection="false" addComment="true" warn="true">
				Unknown primitive named <pmt:eventArg argIndex="1"/> (should return <pmt:eventArg argIndex="2"/>) : perhaps a library is not loaded?
				</pmt:event>
				<pmt:event eventName="UnknownParameter" gravity="Warning" forceCorrection="false" addComment="true" warn="true">
				Unknown parameter named <pmt:eventArg argIndex="1"/> for primitive <pmt:eventArg argIndex="2"/>: keeping it is at your own risk.
 				</pmt:event>
				<pmt:event eventName="UnknownVariable" gravity="Warning" forceCorrection="false" addComment="true" warn="true">
				Unknown variable named <pmt:eventArg argIndex="1"/> for primitive <pmt:eventArg argIndex="2"/> : keeping it is at your own risk.
 				</pmt:event>
				<pmt:event eventName="UnknownProcess" gravity="Warning" forceCorrection="false" addComment="true" warn="true">
				Unknown process named <pmt:eventArg argIndex="1"/> for primitive <pmt:eventArg argIndex="2"/> : keeping it is at your own risk.
				</pmt:event>

			</pmt:eventHandler>
		</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	
	
	<xsd:element name="_operator" substitutionGroup="_primitive" abstract="true"/>
	
		<xsd:element name="_booleanOp" substitutionGroup="_operator" abstract="true">
			<xsd:annotation>
				<xsd:appinfo><pmt:returnType definedBy="staticType">Bool</pmt:returnType></xsd:appinfo>
			</xsd:annotation>
		</xsd:element>
			<xsd:element name="_logicalOp" substitutionGroup="_booleanOp" type="_logicalOpComplexType" abstract="true"/>
			<xsd:element name="_comparisonOp" substitutionGroup="_booleanOp" type="_comparisonOpComplexType" abstract="true"/>
			
		<xsd:element name="_arithmeticOp" substitutionGroup="_operator" abstract="true"/>
			<xsd:element name="_unaryOp" substitutionGroup="_arithmeticOp" type="_unaryOpComplexType" abstract="true">
				<xsd:annotation>
					<xsd:appinfo><pmt:returnType definedBy="argument">1</pmt:returnType></xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="_binaryOp" substitutionGroup="_arithmeticOp" type="_binaryOpComplexType" abstract="true">
				<xsd:annotation>
					<xsd:appinfo><pmt:returnType definedBy="argument">1</pmt:returnType></xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="_multiOp" substitutionGroup="_arithmeticOp" abstract="true"/>
		
		<xsd:element name="_stringOp" substitutionGroup="_operator" abstract="true"/>
	
		<xsd:element name="_conditionOp" substitutionGroup="_operator" abstract="true"/>
			<xsd:element name="_multiBranchesConditionOp" substitutionGroup="_conditionOp" abstract="true"/>
						
		<xsd:element name="_parallelOp" substitutionGroup="_operator" abstract="true"/>
		
		<xsd:element name="_sequentialOp" substitutionGroup="_operator" abstract="true"/>
		
		<xsd:element name="_modifierOp" substitutionGroup="_operator" abstract="true"/>
		
		
	<xsd:element name="_tokenBase" substitutionGroup="_primitive" abstract="true"/>
		<xsd:element name="_staticTk" substitutionGroup="_tokenBase" type="_staticTkComplexType" abstract="true"/>
		<xsd:element name="_dynamicTk" substitutionGroup="_tokenBase" type="_dynamicTkComplexType" abstract="true">
			<xsd:annotation>
				<xsd:appinfo>
					<gui:behavior>
						<gui:openOnDoubleClick/>
					</gui:behavior>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:element>
		
		<xsd:element name="_callTk" substitutionGroup="_tokenBase" abstract="true">
			<xsd:annotation>
				<xsd:appinfo>
					<gui:behavior>
						<gui:openOnDoubleClick/>
					</gui:behavior>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:element>

	<xsd:element name="_genericType" substitutionGroup="_primitive" abstract="true"/>
		<xsd:element name="_vectorType" substitutionGroup="_genericType" abstract="true"/>	
		<xsd:element name="_atomType" substitutionGroup="_genericType" type="_atomTypeComplexType" abstract="true"/>			
			<xsd:element name="_alphaType" substitutionGroup="_atomType" type="_alphaTypeComplexType" abstract="true"/>
			<xsd:element name="_numericType" substitutionGroup="_atomType" abstract="true"/>
				<xsd:element name="_integerNumberType" substitutionGroup="_numericType" type="_integerNumberTypeComplexType" abstract="true"/>
				<xsd:element name="_posIntegerNumberType" substitutionGroup="_numericType" type="_posIntegerNumberTypeComplexType" abstract="true"/>
				<xsd:element name="_longNumberType" substitutionGroup="_numericType" type="_longNumberTypeComplexType" abstract="true"/>
				<xsd:element name="_posLongNumberType" substitutionGroup="_numericType" type="_posLongNumberTypeComplexType" abstract="true"/>
				<xsd:element name="_floatNumberType" substitutionGroup="_numericType" type="_floatNumberTypeComplexType" abstract="true"/>
				<xsd:element name="_doubleNumberType" substitutionGroup="_numericType" type="_doubleNumberTypeComplexType" abstract="true"/>
			<xsd:element name="_boolType" substitutionGroup="_atomType" type="_boolTypeComplexType" abstract="true"/>

</xsd:schema>

